<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
  <button onclick="w3_close()" class="w3-bar-item w3-large w3-right">&times;</button>
  <div class="w3-container">
    <ul class="w3-ul">
      <h1 class="w3-large w3-text-red">Persistent XSS:</h1>
      <li>
        <span class="w3-button w3-text-blue" onclick="getHint(4)">Hint 1</span>
        <div id="hint4-text" style="display:none;">
          <p>Have you tried leaving some feedback?</p>
        </div>
      </li>
      <li id="hint-5" style="display:none;">
        <span class="w3-button w3-text-blue" onclick="getHint(5)">Hint 2</span>
        <div id="hint5-text" style="display:none;">
          <p>Looks like the feedback is returned in the section below.</p>
        </div>
      </li>
      <li id="hint-6" style="display:none;">
        <span class="w3-button w3-text-blue" onclick="getHint(6)">Hint 3</span>
        <div id="hint6-text" style="display:none;">
          <p>Remember script tags are not the only way to trigger XSS.</p>
        </div>
      </li>
    </ul>
    <a href="/#XSS" class="w3-text-green" style="text-decoration:none" target="_blank">Guide</a><br>
    <a href="/solutions/contact-xss" class="w3-text-green" style="text-decoration:none" target="_blank">Solution</a>
  </div>
</body>
<script>
function w3_close() {
  console.log("init");
  window.parent.w3_close();
}
function getHint(num) {
  $('#hint' + num + '-text').toggle();
  if (num % 3 != 0) {
    next = num + 1;
    $('#hint-' + next).show();
  }
}
</script>
</html>
