<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
  <button onclick="w3_close()" class="w3-bar-item w3-large w3-right">&times;</button>
  <div class="w3-container">
    <ul class="w3-ul">
      <h1 class="w3-large w3-text-red">CSRF:</h1>
      <li>
        <span class="w3-button w3-text-blue" onclick="getHint(1)">Hint 1</span>
        <div id="hint1-text" style="display:none;">
          <p>Is there any mechanism implemented to protect against csrf?</p>
        </div>
      </li>
      <li id="hint-2" style="display:none;">
        <span class="w3-button w3-text-blue" onclick="getHint(2)">Hint 2</span>
        <div id="hint2-text" style="display:none;">
          <p>Is there a csrf token?</p>
        </div>
      </li>
      <li id="hint-3" style="display:none;">
        <span class="w3-button w3-text-blue" onclick="getHint(3)">Hint 3</span>
        <div id="hint3-text" style="display:none;">
          <p>Remember sometimes the server will not check for the existence of the token.</p>
        </div>
      </li>
    </ul>
    <a href="/#csrf" class="w3-text-green" style="text-decoration:none;" target="_blank">Guide</a><br>
    <a href="/solutions/user-csrf" class="w3-text-green" style="text-decoration:none;" target="_blank">Solution</a>
  </div>
</body>
<script>
function w3_close() {
  console.log("init");
  window.parent.w3_close();
}
function getHint(num) {
  $('#hint' + num + '-text').toggle();
  if (num % 3 != 0) {
    next = num + 1;
    $('#hint-' + next).show();
  }
}
</script>
</html>
