<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  p {font-size: 20px}
  </style>
</head>
<body>
  <header class="w3-container w3-teal w3-center">
    <h1>Changing Password IDOR</h1>
  </header>
  <div class="w3-container" style="padding:0px 150px">
    <p>The password changing functionality has an IDOR vulnerability. If you look at the URL you can see the last bit is base64 encoded like <span>/password/</span><span class="w3-text-red">Mg==</span>. Use an online base64 decoder
      to see what the value of this part is. Once you have the value you can see it most likely corresponds to an ID, and it is reasonable to assume this is your user ID. To further test this create two accounts and using an incognito window
      or separate browser log into both. Then see if you can replace the encoded value of one of the accounts with the other's value and submit a new password. Then sign out and back into the other account with the new password thus demonstrating
      that you were able to change another user's password. To see a higher impact from this vulnerability
      we can go after the admin account. It is common in web development that an administrative account of some sort carries a user ID value of 1 as it is often one of the first accounts added to the system. Therefore
      if we base64 encode 1 using an online encoder, we get <span class="w3-text-red">MQ</span>. We can then add this value to the URL in place of our ID value <span class="w3-text-blue">/password/</span><span class="w3-text-red">MQ</span>
      and fill in a new password and submit. You can see that the action executes without error. If you return to the login and find the administrator's username in a comment in the pages source code, you can log into their
      account using the password you set.
    </p>
  </div>

</body>
</html>
