<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  p {font-size: 20px}
  </style>
</head>
<body>
  <header class="w3-container w3-teal w3-center">
    <h1>Shop Page Error</h1>
  </header>
  <div class="w3-container" style="padding:0px 150px">
    <p>If you have tried the search functionality, then you will have noticed it affects what products show on the page. This is done through some SQL query to the
      database holding the products. You can test this theory by adding some SQL into your search like a single quotation mark and you will see an error message
      <br><img src="/images/solutions/error.png"><br> This error affirms that it is using a SQL query and that the user input may not be validated correctly. This is a clear security misconfiguration and points to the
      search function most likely being vulnerable to SQL Injection.
    </p>
  </div>

</body>
</html>
