<!DOCTYPE html>
<html lang="en">
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large w3-black">
    <a href="/storefront" class="w3-bar-item w3-button w3-padding-large w3-hover-grey">Home</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Login</a>
    <a href="/account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Account</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-grey">About</a>
    <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Contact</a>
    <a href="/shop" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">shop</a>
  </div>
</div>

<div class="w3-display-container w3-container w3-text-white" style="padding: 50px 150px">
  <img src="/images/backgrounds/background3.jpg" style="width:100%">
  <div class="w3-display-middle w3-container">
    <h1 class="w3-margin w3-xxxlarge">About the Wispy Fisher</h1>
  </div>
</div>

<div class="w3-container w3-center">
  <p class="w3-large">The Wispy Fisher is an elite online fishing store committed to providing premium fictional fishing equipment.</p>
</div>
<div class="w3-container w3-center">
  <h2>Courses</h2>
  <p>The Wispy Fisher team provides both fly fishing and fly tying courses. Check the form for dates and locations</p>
  <a href="/docs/form">Course details</a>
</div>

</body>
</html>
