<!DOCTYPE html>
<html lang="en">
<title>The Whispy Fisher</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous">
</script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-large w3-black">
    <button class="w3-bar-item w3-round w3-red w3-medium" onclick="w3_open()" id="hint-btn">Hints</button>
    <h2 class="w3-bar-item w3-center w3-padding-large">
      <a href="/storefront" style="text-decoration:none;">The Whispy Fisher</a>
    </h2>
  </div>
</div>

<!-- Hint pop out -->
<div class="ui-widget-content w3-sidebar w3-animate-left" style="opacity:.90" id="mySidebar">
  <iframe src="/hints/username" id="myFrame"></iframe>
</div>

<div class="w3-container w3-center" style="padding:128px 16px">
  <header class="w3-center">
    <h1>Change Username</h1>
  </header>
  <div class="w3-container w3-center w3-padding-64">
    <table class="w3-table">
      <tr>
        <td><input class="w3-input w3-border" type="text" placeholder="new username" id="user-chng"></td>
      </tr>
      <tr>
        <td><input class="w3-input w3-border" type="text" placeholder="confirm username" id="confirm-user"></td>
      </tr>
      <tr class="w3-center">
        <td>
          <button class="w3-btn w3-border w3-green" id="update-btn">Update</button>
          <input type="hidden" id="_csrf" value="">
        </td>
      </tr>
    </table>
    <p class="w3-text-red" id="error_msg"></p>
  </div>
</div>

</body>
<script>
  $('#user-chng').keyup(function(event) {
    var key = event.which;
    if (key == 13) {
      document.getElementById("update-btn").click();
    }
  });

  $('#confirm-user').keyup(function (event) {
    var key = event.which;
    if (key == 13) {
      document.getElementById("update-btn").click();
    }
  });

  $('#_csrf').attr('value',makeToken(14));

  $('#update-btn').click(function(){
    var user1 = $('#user-chng').val().replace(/\s/g,'');
    var user2 = $('#confirm-user').val().replace(/\s/g,'');
    if (user1 === user2 && user1 != "") {
      $.ajax({
        type: "POST",
        url: window.location.pathname,
        data: {username: user1},
        success:function(){
          window.location = "/account";
        }
      });
    } else {
      if (user1 == "" || user2 == "") {
        $('#error_msg').html("Please fill in both fields.")
      } else {
        $('#error_msg').html("Make sure both usernames match.")
      }
    }
  });

  $('#mySidebar').hide();

  $( function() {
    $( "#mySidebar" ).resizable({
      containment: 'body',
      ghost: true
    });
  });

  function w3_open() {
    $('#hint-btn').hide();
    document.getElementById("mySidebar").style.width = "25%";
    document.getElementById("mySidebar").style.overflowX = "auto";
    document.getElementById("mySidebar").style.overflowY = "hidden";
    document.getElementById("mySidebar").style.resize = "both";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myFrame").style.width = "100%";
    document.getElementById("myFrame").style.height = "100%";
    document.getElementById("myFrame").style.border = "none";
  }
  function w3_close() {
    $('#hint-btn').show();
    $('#mySidebar').hide();
  }

  function makeToken(length) {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for (var i = 0; i < length; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    var token = btoa(text);
    return token.replace('=','');
  }
</script>
</html>
