<!DOCTYPE html>
<html lang="en">
<title>The Whispy Fisher</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large w3-black">
    <a href="/storefront" class="w3-bar-item w3-button w3-padding-large w3-grey">Home</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Login</a>
    <a href="/account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Account</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">About</a>
    <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">Contact</a>
    <a href="/shop" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-grey">shop</a>
  </div>
</div>

<div class="w3-display-container w3-center" style="padding:0px 150px;">
  <img src="/images/backgrounds/background4.jpg" style="width: 100%">
  <div class="w3-display-middle w3-container w3-text-white">
    <h1 class="w3-margin w3-jumbo">The Wispy Fisher</h1>
  </div>
  <div class="w3-display-bottommiddle w3-padding-64 w3-container w3-text-white w3-center">
    <h2>Our Pledge</h2>
    <h3 class="w3-padding-32">"We pledge to deliver the highest quality fly fishing equipment while guaranteeing the highest level of security possible" -Waspy</h3>
  </div>
</div>
</body>
</html>
